*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 15vh 75vh 15vh repeat(5, min-content); } }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400; }

.heading-secondary-t1 {
  margin-bottom: 2.5rem; }
  .heading-secondary-t1--main {
    diplay: block;
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
    line-height: 1; }
  .heading-secondary-t1--sub {
    display: block;
    font-size: 1.5rem; }

.heading-secondary-t2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5rem;
  word-spacing: 3px; }

.heading-secondary-t3 {
  font-size: 3.5rem;
  color: #212121;
  line-height: 1.5; }

.heading-tetiary {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem; }

.btn-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none; }
  .btn-text--blue {
    color: #00a2c7 !important; }
  .btn-text--grey {
    transition: all 0.3s;
    color: #757575; }
    .btn-text--grey:hover {
      color: #00a2c7; }
  .btn-text--padding {
    padding: 0.3rem 2rem; }

.btn-outline {
  color: #757575;
  diplay: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #e6e6e6;
  padding: 0.5rem 1rem;
  border: 1px solid #a2a2a2;
  border-radius: 1rem; }

.categories {
  background-color: #fff;
  grid-column: center-start / center-end;
  margin-bottom: 3rem; }
  .categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem; }
  .categories__item {
    text-decoration: none; }
  .categories__img {
    width: 100%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem; }
    .categories__img::before {
      content: "";
      display: block;
      padding-top: calc(100% * (9 / 16)); }
    .categories__img--i1 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i2 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i3 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i4 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i5 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i6 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i7 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i8 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i9 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i10 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i11 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i12 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i13 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i14 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i15 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i16 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i17 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i18 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i19 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i20 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i21 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i22 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i23 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i24 {
      background-image: url(../img/category-2.jpeg); }
  .categories__label {
    font-size: 1.7rem;
    font-weight: 700;
    color: #212121; }

.category-row {
  background-color: #fff;
  grid-column: full-start / full-end;
  border-bottom: 1px solid #c5c4c4; }
  .category-row__boxes {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 80em) {
      .category-row__boxes {
        width: 90%; } }
    @media only screen and (max-width: 62.5em) {
      .category-row__boxes {
        flex-wrap: wrap;
        align-content: space-evenly; } }
  .category-row__box:not(:last-child) {
    margin-right: 1.3rem; }

.footer {
  background-color: cornflowerblue;
  grid-column: full-start / full-end; }

.get-the-app {
  background-color: #fff;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-evenly; }
  .get-the-app__download {
    align-self: center; }
  .get-the-app__store {
    margin-top: 4rem; }
  .get-the-app__image {
    width: 17rem; }
    .get-the-app__image:not(:last-child) {
      margin-right: 1.5rem; }
  .get-the-app__app {
    width: 25rem; }

.groups-near-you {
  background-color: peru;
  grid-column: center-start / center-end; }

.hero {
  background-color: olivedrab;
  grid-column: full-start / full-end; }

.how-meet-up-works {
  background-color: #0f1721;
  grid-column: full-start / full-end;
  color: #fff;
  padding: 5rem 0; }
  .how-meet-up-works__boxes {
    max-width: 108rem;
    margin: 0 auto;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .how-meet-up-works__boxes {
        flex-direction: column;
        max-width: 100%;
        width: 80%; }
        .how-meet-up-works__boxes > :not(:last-child) {
          margin-bottom: 3rem; } }
  .how-meet-up-works__box {
    flex: 1;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem 4rem; }
    .how-meet-up-works__box--b1 {
      grid-column: center-start / col-end 6; }
    .how-meet-up-works__box--b2 {
      grid-column: col-start 7 / center-end; }
  .how-meet-up-works__icon {
    height: 6rem;
    width: 6rem;
    fill: #00a2c7; }
  .how-meet-up-works__detail p {
    font-size: 1.8rem;
    word-spacing: 2px; }
  .how-meet-up-works__button {
    grid-column: 2 / 3; }

.navbar {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    color: #f13a59;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 1.5rem; }
  .navbar__navigation {
    list-style: none;
    display: flex; }
    .navbar__navigation li:first-child {
      border-right: 1px solid #a2a2a2; }
