*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 47.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 15vh 75vh 15vh repeat(5, min-content); } }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400; }

.heading-primary {
  color: #fff;
  margin-bottom: 3rem; }
  .heading-primary--main, .heading-primary--sub {
    display: block; }
  .heading-primary--main {
    font-size: 4rem;
    font-weight: 900; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    word-spacing: 1.5px; }

.heading-secondary-t1 {
  margin-bottom: 2.5rem; }
  .heading-secondary-t1--main {
    diplay: block;
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
    line-height: 1; }
  .heading-secondary-t1--sub {
    display: block;
    font-size: 1.5rem; }

.heading-secondary-t2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5rem;
  word-spacing: 3px; }

.heading-secondary-t3 {
  font-size: 3.5rem;
  color: #212121;
  line-height: 1.5; }

.heading-tetiary {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem; }

.heading-fouth {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700; }

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  padding: 1rem 10rem;
  border-radius: 5px;
  background-color: #f13a59;
  letter-spacing: 1px; }

.btn-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none; }
  .btn-text--blue {
    color: #00a2c7 !important; }
  .btn-text--grey {
    transition: all 0.3s;
    color: #757575; }
    .btn-text--grey:hover {
      color: #00a2c7; }
  .btn-text--padding {
    padding: 0.3rem 2rem; }

.btn-outline {
  color: #757575;
  diplay: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #e6e6e6;
  padding: 0.5rem 1rem;
  border: 1px solid #a2a2a2;
  border-radius: 1rem; }

.categories {
  background-color: #fff;
  grid-column: center-start / center-end;
  margin-bottom: 3rem; }
  .categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem; }
  .categories__item {
    text-decoration: none; }
  .categories__img {
    width: 100%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem; }
    .categories__img::before {
      content: "";
      display: block;
      padding-top: calc(100% * (9 / 16)); }
    .categories__img--i1 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i2 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i3 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i4 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i5 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i6 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i7 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i8 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i9 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i10 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i11 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i12 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i13 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i14 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i15 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i16 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i17 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i18 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i19 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i20 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i21 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i22 {
      background-image: url(../img/category-2.jpeg); }
    .categories__img--i23 {
      background-image: url(../img/category-1.jpeg); }
    .categories__img--i24 {
      background-image: url(../img/category-2.jpeg); }
  .categories__label {
    font-size: 1.7rem;
    font-weight: 700;
    color: #212121; }

.category-row {
  background-color: #fff;
  grid-column: full-start / full-end;
  border-bottom: 1px solid #c5c4c4; }
  .category-row__boxes {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 80em) {
      .category-row__boxes {
        width: 90%; } }
    @media only screen and (max-width: 62.5em) {
      .category-row__boxes {
        flex-wrap: wrap;
        align-content: space-evenly; } }
    @media only screen and (max-width: 26.25em) {
      .category-row__boxes {
        margin: 0 auto;
        width: 80%; } }
  .category-row__box:not(:last-child) {
    margin-right: 1.3rem; }
  @media only screen and (max-width: 26.25em) {
    .category-row__box {
      flex: 0 0 1; } }

.footer {
  background-color: #353e48;
  grid-column: full-start / full-end; }
  .footer__container {
    max-width: 108rem;
    margin: 0 auto; }
    @media only screen and (max-width: 62.5em) {
      .footer__container {
        width: 100%;
        max-width: 100%;
        padding: 0 6rem; } }
  .footer__top {
    padding: 3rem 0;
    border-bottom: 1px solid #a2a2a2; }
    .footer__top a {
      font-size: 1.6rem;
      color: #fff; }
  .footer__body {
    padding: 3rem 0 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 0 2rem; }
  .footer__account ul, .footer__discover ul, .footer__meetup ul {
    margin-top: 1.5rem;
    list-style: none;
    font-size: 1.6rem;
    color: #a2a2a2;
    font-weight: 700; }
    .footer__account ul li, .footer__discover ul li, .footer__meetup ul li {
      padding: 1rem 0; }
  .footer__follow svg {
    width: 2.5rem;
    height: 2.5rem; }
  .footer__follow ul {
    list-style: none;
    display: flex;
    margin: 3rem 0; }
    .footer__follow ul li:not(:last-child) {
      margin-right: 3rem; }
  .footer__bottom {
    background-color: #2f363f;
    padding: 2rem 0;
    font-size: 1.5rem;
    color: #fff; }
  .footer__bottom-container {
    max-width: 108rem;
    margin: 0 auto; }
    @media only screen and (max-width: 62.5em) {
      .footer__bottom-container {
        padding: 0 6rem; } }
    .footer__bottom-container span {
      display: block;
      margin-bottom: 1.5rem; }
    .footer__bottom-container ul {
      list-style: none;
      display: flex; }
      .footer__bottom-container ul li {
        position: relative; }
        .footer__bottom-container ul li::before {
          content: ".";
          position: absolute;
          top: -3px;
          right: -1rem; }
        .footer__bottom-container ul li:not(:last-child) {
          margin-right: 2rem; }

.get-the-app {
  background-color: #fff;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 47.5em) {
    .get-the-app {
      flex-wrap: wrap; } }
  .get-the-app__download {
    align-self: center;
    padding: 2rem; }
    @media only screen and (max-width: 47.5em) {
      .get-the-app__download {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .get-the-app__store {
    margin-top: 4rem; }
    @media only screen and (max-width: 47.5em) {
      .get-the-app__store {
        display: flex;
        justify-content: center; } }
  .get-the-app__image {
    width: 17rem; }
    .get-the-app__image:not(:last-child) {
      margin-right: 1.5rem; }
  .get-the-app__app {
    width: 25rem;
    padding-left: 5rem; }
    @media only screen and (max-width: 47.5em) {
      .get-the-app__app {
        padding-left: 0; } }

.groups-near-you {
  grid-column: center-start / center-end;
  margin: 3rem 0 5rem; }
  .groups-near-you__container {
    max-width: 108rem;
    width: 100%;
    margin: 0 auto; }
  .groups-near-you__box {
    background-color: #fff !important;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6; }
    .groups-near-you__box:not(:nth-child(4n)) {
      margin-right: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .groups-near-you__box {
        margin-right: 0rem; } }
  .groups-near-you__img {
    height: 15rem; }
    .groups-near-you__img img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .groups-near-you__detail {
    padding: 1rem; }
  .groups-near-you__subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .groups-near-you h2 {
    font-weight: 700;
    color: #111;
    font-size: 2.2rem; }
  .groups-near-you__event {
    display: block;
    font-size: 1.5rem;
    color: #212121;
    margin-bottom: 3rem; }
  .groups-near-you__mem {
    font-size: 1.4rem; }

.glider-next,
.glider-prev {
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 1.7rem;
  font-weight: 300; }

.glider-next {
  right: -2rem; }

.glider-prev {
  left: -2rem; }

.hero {
  grid-column: full-start / full-end;
  position: relative; }
  .hero__text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.95;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.how-meet-up-works {
  background-color: #0f1721;
  grid-column: full-start / full-end;
  color: #fff;
  padding: 5rem 0; }
  .how-meet-up-works__boxes {
    max-width: 108rem;
    margin: 0 auto;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .how-meet-up-works__boxes {
        flex-direction: column;
        max-width: 100%;
        width: 80%; }
        .how-meet-up-works__boxes > :not(:last-child) {
          margin-bottom: 3rem; } }
  .how-meet-up-works__box {
    flex: 1;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem 4rem; }
    .how-meet-up-works__box--b1 {
      grid-column: center-start / col-end 6; }
    .how-meet-up-works__box--b2 {
      grid-column: col-start 7 / center-end; }
  .how-meet-up-works__icon {
    height: 6rem;
    width: 6rem;
    fill: #00a2c7; }
  .how-meet-up-works__detail p {
    font-size: 1.8rem;
    word-spacing: 2px; }
  .how-meet-up-works__button {
    grid-column: 2 / 3; }

.navbar {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    color: #f13a59;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 1.5rem; }
  .navbar__navigation {
    list-style: none;
    display: flex; }
    .navbar__navigation li:first-child {
      border-right: 1px solid #a2a2a2; }
