.get-the-app {
  background-color: $color-white;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
  }

  &__download {
    align-self: center;
    padding: 2rem;

    @media only screen and (max-width: $bp-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__store {
    margin-top: 4rem;

    @media only screen and (max-width: $bp-small) {
      display: flex;
      justify-content: center;
    }
  }

  &__image {
    width: 17rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__app {
    width: 25rem;
    padding-left: 5rem;

    @media only screen and (max-width: $bp-small) {
      padding-left: 0;
    }
  }
}
